extends layout/layout



block content
  .container
   h1.text-danger Error: #{message}
   h2 #{error.status}
   pre.alert-danger #{error.stack}

block footer_scripts
    script.
        $(function () {
            console.log(#{error.status})
        })