extends layout/layout

//markdown编辑器
block append head
    include layout/bootstrap-markdown/markDown


block content
    body
        .container
            h1.text-success #{title}
            h2.alert-danger 这里是用pug模板生成的index页面 #{title}
            pre.alert-success#text
            input(type='button' id='loginout' value='退出')
            form#login
                input(type='text' placeholder='用户名' name='email')
                input(type='password' placeholder='密码' name='password')
                input(type='submit' value='登录测试')

            //markdown编辑器
            include layout/bootstrap-markdown/cont



block footer_scripts
    script(src='/public/js/index.js')