doctype html
html(lang='zh_CN')
  head
    meta(charset="UTF-8")
    meta(name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    title= '页面'
    block head
      link(rel='stylesheet', href='/public/css/style.css')
      link(rel='stylesheet', href='/node_modules/bootstrap/dist/css/bootstrap.min.css')
      script(src='./node_modules/jquery/dist/jquery.js')
      script(src='./node_modules/bootstrap/dist/js/bootstrap.min.js')
      script(src='./node_modules/art-template/lib/template-web.js')

  block content

  block footer_scripts

